/* avanzados.css */

/* ATRIBUTOS */
dfn[title] {
    background-color: lightpink;
}
[title="pendiente"] {
    background-color: yellow;
}
[title*="pendiente"] {
    background-color: yellow;
}
/* $= esto significa que termina en */
[href$=".pdf"] { 
    background-color:lightblue
}
/* ^ esto significa que comienza por */
[href^="https://"] {
    background-color: green
}


/* sibling , hermanos*/
/* Que esten al mismo nivel y que venga el h4 desp del h3, pero entre medio puede haber mas cosas, un parrafo o lo que sea. Se le aplicaria al h4 que es el que esta mas pegado a la llave, siempre asi */
h3 ~ h4 {
    background-color: lightsalmon;
}


/* adyacente , justo antes*/
h1 + p, 
h2 + p {
    background-color: lime;}

/* DENTRO de, no para despues de, como era el + */
article h2 { 
    background-color: lightblue;
}

 /* selector descendiente */
article p {
    color: brown;
}

/* es el selector HIJO */
article > p { 
    color: blue;
    font-style: italic;
}
