h1 strong {
    background-color: aqua;
    /* para el fondo de la palabra */
    text-decoration: underline;
    /* para subrayar */
    border: 3px dotted blue;
}
p {
    color: blue;
    font-family: Arial, Helvetica, sans-serif; /* tipo de letra */
}

